@import "tailwindcss";
@import "tailwind-global-config";

@font-face {
  font-family: 'Space Grotesk';
  src: url('/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

body{
  font-family: 'Space Grotesk', sans-serif !important;
}
