@theme {
  --color-primary: #80DAE6;
  --color-secondary: #B87BED;
  --color-background: #F3F4F6;
  --color-foreground: #1F2937;
  --color-border-panel: #2E2F30;
  --color-border-panel-hover: #646464;
}
